.wrap {
  width: 688rem;
  margin: 0 auto;
}
.content {
  width: 538rem;
}
.userIamgeLine {
  margin-bottom: 30px;
}
.userImage {
  display: flex;
  align-items: center;
}
.userImageWarp {
  width: 52rem;
  height: 52rem;
  border-radius: 28rem;
  overflow: hidden;
}
.userImgContent {
  height: 100%;
}
.userImageUploadBtn {
  display: flex;
  align-items: center;
}
