.nftDetail {
  padding: 36rem 120rem 24rem;
}
.title {
  font-size: 36px;
  font-weight: bolder;
  line-height: 45px;
  letter-spacing: 0.3px;
  color: #2d2f35;
  margin-bottom: 8rem;
}
.detail {
  font-size: 16rem;
  font-weight: normal;
  color: #454c66;
  line-height: 26rem;
}
.nftList {
  display: flex;
  flex-wrap: wrap;
  padding: 0 120rem;
  margin-top: 40rem;
}
.nftItem {
  width: 144rem;
  height: 189rem;
  margin-right: 72rem;
  border-radius: 16rem;
  overflow: hidden;
  position: relative;
}
.nftItem img {
  width: 100%;
}
.nftInfo {
  padding: 8px 12px 12px 12px;
  border-radius: 16px;
  background: #ffffff;
  position: absolute;
  top: 128rem;
}
.nftTitle {
  width: 120px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  color: #22262e;
  line-height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nftPrice {
  font-size: 12px;
  font-weight: normal;
  line-height: 17px;
  color: #45b26b;
}
