/* 弹窗的样式 */
.modal {
  width: 736rem;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px;
  z-index: 999;
}
.modalTitleWrap {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(13, 13, 13, 0.1);
}
.title {
  font-size: 16px;
  font-weight: normal;
  color: #0d0d0d;
}
.modalClose {
  cursor: pointer;
}
.modalContent {
  min-height: 555px;
}
.modalMask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modalBottom {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
