@import '~antd/dist/antd.css';
html,
body {
  font-size: 1px;
  padding: 0;
  margin: 0;
  height: 100%;
  background: url("./static/bg.png") no-repeat;
}
#root {
  height: 100%;
}
.ant-form-item {
  margin-bottom: 30px !important;
}
.button {
  width: 208rem;
  height: 48rem;
  cursor: pointer;
  border-radius: 24px;
  background: #3772ff;
  text-align: center;
  line-height: 48rem;
  font-size: 16rem;
  font-weight: bold;
  color: #fcfcfd;
}